/* Custom CSS */

.pokemon-type-normal {
  background-color: #a8a878;
}

.pokemon-type-fire {
  background-color: #f08030;
}

.pokemon-type-water {
  background-color: #6890f0;
}

.pokemon-type-grass {
  background-color: #78c850;
}

.pokemon-type-electric {
  background-color: #f8d030;
}

.pokemon-type-ice {
  background-color: #98d8d8;
}

.pokemon-type-fighting {
  background-color: #c03028;
}

.pokemon-type-poison {
  background-color: #a040a0;
}

.pokemon-type-ground {
  background-color: #e0c068;
}

.pokemon-type-flying {
  background-color: #a040a0;
}

.pokemon-type-bug {
  background-color: #a8b820;
}

.pokemon-type-rock {
  background-color: #b8a038;
}

.pokemon-type-ghost {
  background-color: #705898;
}

.pokemon-type-dark {
  background-color: #705848;
}

.pokemon-type-dragon {
  background-color: #7038f8;
}

.pokemon-type-steel {
  background-color: #b8b8d0;
}

.pokemon-type-fairy {
  background-color: #f0b6bc;
}
